<div class="row">
  <div class="col-md-12">
    <h1>All Notes</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Tags</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <%= render partial: "/notes/note", collection: @notes %>
      </tbody>
    </table>

    <%= paginate @notes %>

  </div>
</div>

